# Large directories 
models/
VOCdevkit/
Cityscapes/
VOCtrainval_11-May-2012.tar
gtFine_trainvaltest.zip

# Environments
__pycache__/
.vscode/
.env/
.ipynb_checkpoints/

# Other 
gpu-pablo-connect.sh
credential.json

